.formStyle{
    background-image: url("https://getwallpapers.com/wallpaper/full/a/8/3/312188.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 2rem;
    position: absolute;
    top: 7rem;
    background-color: rgba(37, 48, 18, 0.7);
    border-radius: 15px;
}

label{
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 20px; 
    border: 5px solid #e6e6e6;
    background: linear-gradient(to bottom, #ff4141, #ff7f00);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px; 
    text-align: center; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    text-transform: uppercase;
}

input[type="text"] {
    font-size: 20px;
    font-weight: bold;
    color: #4b4b4b;
    padding: 10px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  input[type="text"] {
    font-size: 20px;
    font-weight: bold;
    color: #4b4b4b;
    padding: 10px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  input[type="text"]:hover,
  input[type="text"]:focus {
    border: 2px solid #ff4141;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(255, 65, 65, 0.3);
    outline: none;
  }

  
  p {
    padding: 5px 10px; 
    border-radius: 20px; 
    border: 5px solid #c9dd15;
    font-size: 20px;
    font-weight: bold;
    color: #1698cc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.3s ease;
  }
  
  p:hover {
    color: #ff4141;
    text-shadow: 2px 2px 2px rgba(255, 65, 65, 0.3);
  }
  
  .btn{
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #499df7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn:hover {
    font-family: 'Press Start 2P', cursive;
    color: rgb(189, 201, 21);
    background-color: #0056b3;
    transform: scale(1.2);
    transition: all  .3s ease-in-out; 
  }
